[submodule "plugin-html"]
	path = plugin-html
url=https://github.com/ONLYOFFICE/plugin-html.git
[submodule "plugin-highlightcode"]
	path = plugin-highlightcode
url=https://github.com/ONLYOFFICE/plugin-highlightcode.git
[submodule "plugin-autocomplete"]
	path = plugin-autocomplete
url=https://github.com/ONLYOFFICE/plugin-autocomplete.git
[submodule "plugin-doc2md"]
	path = plugin-doc2md
url=https://github.com/ONLYOFFICE/plugin-doc2md.git
[submodule "plugin-wordscounter"]
	path = plugin-wordscounter
url=https://github.com/ONLYOFFICE/plugin-wordscounter.git
[submodule "onlyoffice-chinese-fonts"]
	path = onlyoffice-chinese-fonts
	url = https://github.com/funggtopp/onlyoffice-chinese-fonts.git